/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  
}
.container {
  position: relative;
  height: auto; /* Permet au conteneur de s'adapter à la hauteur totale du contenu */
  text-align: center;
  padding-bottom: 50px; /* Ajout d'un padding pour éviter le "collage" au bas */
}
/* Pour faire en sorte que le site occupe toute la largeur et hauteur de l'écran */
#root {
  min-height:500vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to bottom, #1e90ff, #010305);
  padding: 20px;
  transition:background 0.2s ease;
  color: white;
  
}

/* Texte d'introduction */
h1 {
  font-size: 4vw; /* Taille dynamique basée sur la largeur de l'écran */
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 40px;
}

/* Poissons (animation) */
.fish {
  position: absolute;
  background: orange;
  border-radius: 50%;
  animation: swim 10s infinite linear;
  animation-duration: 10s;
}

.fish.small {
  width: 30px;
  height: 15px;
  
}

.fish.large {
  width: 80px;
  height: 40px;
  
}

@keyframes swim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(400%);
  }
}

/* Poissons à différentes positions */
.fish:nth-child(1) {
  top: 20%;
  left: 10%;
}

.fish:nth-child(2) {
  top: 40%;
  left: 30%;
}

.fish:nth-child(3) {
  top: 60%;
  left: 50%;
}

.fish:nth-child(4) {
  top: 80%;
  left: 70%;
}

/* Responsiveness: pour les petits écrans, les poissons sont plus petits */
@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }
  p {
    font-size: 3vw;
  }
  
  .fish.small {
    width: 20px;
    height: 10px;
  }

  .fish.large {
    width: 60px;
    height: 30px;
  }
  
}
@media (max-width: 480px) {
  h1 {
    font-size: 7vw; /* Adapte encore plus pour les écrans très petits */
  }

  p {
    font-size: 4vw;
  }

  .fish.small {
    width: 15px;
    height: 8px;
  }

  .fish.large {
    width: 50px;
    height: 25px;
  }
}
/* WaveBanner.css */
.wave-banner {
  position: relative;
  width: 100%;
  height: 100px; /* Ajuste la hauteur selon tes besoins */
  overflow: hidden;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 150px;
  background: url('./assets/wave.png') repeat-x;
  animation: wave-animation 10s infinite;
}

.wave:nth-child(1) {
  animation-delay: 0s;
  opacity: 20%; 
}

.wave:nth-child(2) {
  animation-delay: 2s;
  opacity: 40%; 
}

.wave:nth-child(3) {
  animation-delay: 4s;
  opacity: 70%; 
}


@keyframes wave-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


